.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: rgb(239, 117, 127);
    z-index: 1000; /* Ensure it's above other content */
    transform-origin: left center;
  }

  